/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(14, 98%, 50%);
  --white-color: #ffffff;
  --title-color: #14a491;
  --text-color: #ffffff;
  --text-color-light: #a6a9b0;
  --body-color: #0f1218;
  --container-color: #161920;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  --img-transition: 0.3s;
  --img-scale: scale(1.1);
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4rem 2rem;
}

.section__title-1 {
  font-size: var(--h1-font-size);
  margin: 0.75rem auto 2rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  color: var(--white-color);
}

.nav__toggle,
.nav__close {
  font-size: var(--h2-font-size);
  color: var(--white-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    right: -100%;
    top: 0;
    background-color: var(--body-color);
    width: 80%;
    height: 100%;
    box-shadow: 0 0 16px hsla(268%, 58%, 4%, 0.2);
    padding: 6rem 3rem;
    flex-direction: column;
    transition: right 0.4s;
  }
}

.nav__list {
  row-gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-regular);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Add shadow header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
}

/*=============== HOME ===============*/

.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 45px;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.home__title span {
  color: var(--title-color);
}

.home__description {
  font-size: var(--normal-font-size);
  margin-bottom: 2.5rem;
}

.home__information {
  position: absolute;
  bottom: 2rem;
  right: 0;
  background-color: var(--body-color);
  width: 240px;
  padding: 2rem;
  display: block;
  border-radius: 8px;
}
.home__information-percent {
  font-size: var(--h1-font-size);
}
.home__information-description {
  margin-top: 0.5rem;
}

/* Animate scroll icon */

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  background: linear-gradient(to right, #14a491, #106358);
  color: var(--white-color);
  border-radius: 5px;
  border: none;
}

/*=============== ABOUT ===============*/
.about__data {
  text-align: center;
}

.about__container {
  row-gap: 2.5rem;
}

.about__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 0.5rem;
}

.about__description {
  font-size: var(--normal-font-size);
  margin-bottom: 2em;
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.about__img-overlay {
  overflow: var(--img-hidden);
}

.about__img-one {
  width: 140px;
  border-radius: 5px;
}

.about__img-two {
  width: 180px;
  border-radius: 5px;
}

.about__img-one,
.about__img-two {
  transition: var(--img-transition);
}

.about__img-one:hover,
.about__img-two:hover {
  transform: var(--img-scale);
}

/*=============== TIPS ===============*/
.tips__container {
  text-align: center;
}

.tips__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}

/*=============== EXTINCTION ===============*/

.extinction__container {
  position: relative;
  align-items: center;
  justify-content: center;
}

.extinction__title {
  text-align: center;
  font-size: var(--biggest-font-size);
  margin-bottom: 3rem;
}

.extinction__filter {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.extinction__card {
  position: relative;
}

.extinction__cards {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  row-gap: 3rem;
}

.extinction__card-bg {
  position: relative;
}

.extinction__card {
  background-color: var(--container-color);
  border-radius: 7px;
  padding: 2rem;
}

.extinction__card-bg {
  position: absolute;
  top: 0;
  right: 0;
}

.extinction__img-one {
  width: 100%;
  height: 100px;
}

.extinction__img-two {
  position: absolute;
  width: 170px;
  top: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
}
.extinction__card:nth-child(2) .extinction__img-two {
  top: 1rem;
}
.extinction__card:nth-child(3) .extinction__img-two {
  top: 1rem;
}
.extinction__card:nth-child(4) .extinction__img-two {
  width: 230px;
  top: 3rem;
}

.extinction__card-data {
  margin-top: 7.5rem;
  display: grid;
  row-gap: 1.3rem;
}

.extinction__card-title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-top: 1rem;
}

.extinction__card-description {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--white-color);
}
.extinction__card-description span {
  font-weight: var(--font-bold);
  color: var(--title-color);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--container-color);
}

.footer__container {
  padding-block: 3rem 2rem;
  row-gap: 2.5rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer__link {
  color: var(--white-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--text-color-light);
}

.footer__copy {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

.footer__copy a {
  color: var(--title-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: #22252e;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #14a491;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #42c9b7;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px) {
  .footer__links {
    column-gap: 0.5rem;
  }
}
@media screen and (max-width: 550px) {
  .home__information {
    display: none;
  }
}
/* For medium devices */

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--white-color);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
    z-index: 2;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .about__img {
    order: -1;
  }
  .about__img-one {
    width: 180px;
  }
  .about__img-two {
    width: 230px;
  }
  .about__data {
    text-align: initial;
  }

  .extinction__cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 350px);
    column-gap: 2rem;
  }
}

/* For large devices */
